body{
    background-color:#FAF5F5;
    color:#1A0800;
    font-family:"Trebuchet MS";
    margin:0;
    bottom:0;
    top:0;
}

nav{
    background-color:#DCD3CE;
    display:flex;
    flex-direction:row;
    gap:2%;
    padding:1.5%;
    padding-left:2%;
    padding-right:2%;
    align-items:center;
    font-size:130%;
    font-weight:bold;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
}

nav img{
    height:45px;
    width:45px;
}

#emptyNav{
    flex-grow:1;
}

.navLink{
    color:#1A0800;
    text-decoration:none;
    transition:all ease 0.3s;
}

.navLink:hover{
    color:#1A4840;
    text-decoration:underline;
}

h1{
    padding-left:2%;
}

h1.topHeading{
    padding-top: 7%;
}

div.gallery{
    display:grid;
    box-sizing:border-box;
    justify-items:center;
    align-items:center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top:1%;
    margin:6%;
    gap:7%;
}

#gallery img{
    width:100%;
    height:100%;
    filter:brightness(85%);
    transition: all ease 0.2s;
}

#gallery img:hover{
    transform:scale(1.1);
    filter:brightness(100%);
}

#portfolioGallery{
    padding-top:100px;
    padding-left:4%;
    display:flex;
    flex-wrap:wrap;
}

#portfolioGallery img{
    width: 45%;
    margin: 2%;
}

p.loremipsum{
    font-size:1000%;
}

#contact{
    background-color:#1A0800;
    color:#FAF5F5;
    padding:6%;
    border-radius:10px;
    text-decoration:none;
    margin:auto;
    transition:all ease 0.3s;
    white-space: nowrap;
}

#contact:hover{
    background-color: #1A4840;
}

#faqHeading{
    margin-left:2%;
}

footer{
    margin:0;
    bottom:0;
    left:0;
    right:0;
}

footer img{
    object-fit:fill;
    width:100%;
    margin:0;
    bottom:0;
    left:0;
    right:0;
}

#rates{
    padding-top:7%;
}

#rates *{
    margin:2%;
}

table{
    background-color:#DCD3CE;
    padding:1.5%;
    border-color:#1A0800;
    border-radius:10px;
    border-spacing:5px;
    border-style:dashed;
}

#contactFormSection{
    padding-top:2%;
    margin:2%;
}

#contactFormSection input, #contactFormSection textarea{
    border:1.5px solid #1A0800;
    background-color:#FFFAFA;
}

#submitButton{
    background-color:#1A0800;
    color:#FAF5F5;
    border:none;
    padding:0.5%;
    border-radius:5px;
    transition:all ease 0.2s;
}

#submitButton:hover{
    border-radius:10px;
    padding:0.4%;
}

#photographer{
    height:auto;
    width:400px;
    margin:2%;
    padding-top:100px;
}

#aboutUs{
    margin:2%;
}

.centerContainer{
    display:flex;
    justify-content: center;
}

#topButton{
    background-color:#1A0800;
    color:#FAF5F5;
    position:fixed;
    display:none;
    bottom:20px;
    margin:auto;
    border:none;
    border-radius:20px;
    padding:0.8%;
    font-size:120%;
    transition:all ease 0.2s;
}

#topButton:hover{
    font-size:110%;
    padding:0.6%;
    border-radius:10px;
    z-index:99;
}

.accordion{
    margin:2%;
}

.accordion p{
    background-color:#2f180e;
    color:#FAF5F5;
    padding:2%;
}

.navAppear{
    display:none;
    padding-right:2%;
}

@media(max-width:768px){
    .navDisappear{
        display:none;
    }
    .navAppear{
        display:contents;
    }
    .flexVert{
        display:flex;
        flex-direction:column;
    }
    .flexVert *{
        margin:1%;
    }
}

